.container {
    position: relative;
    width: 100%;
    height: 700px; /* Vous pouvez ajuster la hauteur */
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 45%;
    left: 35%;
    width: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0a0a0a 50%, transparent);
    z-index: 0;
}

@media (max-width: 768px) {
    .container {
        height: 300px;
    }
    .logo-container {
        width: 500px;
        left: 15%;
    }
    .container::before {
        background: linear-gradient(to right, #0a0a0a 50%, transparent);
    }
}

@media (max-width: 426px) {
    .container {
        height: 200px;
        width: 100%;
        text-align: right;
        border-radius: 0px;
    }
    .background-image {
        width: 10vw;
    }
    .logo-container {
        width: 200px;
        left: 25%;
    }
    .container::before {
        background: linear-gradient(to right, #0a0a0a 40%, transparent);
    }
}

@media (max-width: 376px) {
    .container {
        height: 150px;
    }

    .background-image {
        display: none;
    }

    .logo-container {
        width: 300px;
        top: 40%;
        left: 45%;
        right: 45%;
        transform: translate(-50%, -50%);
    }

    .container::before {
        background: linear-gradient(to bottom, #0a0a0a 30%, transparent);
    }
}

@media (max-width: 320px) {
    .container {
        height: 100px;
    }

    .background-image {
        width: 100vw;
    }

    .logo-container {
        width: 300px;
        top: 50%;
        left: 40%;
        right: 40%;
        transform: translate(-50%, -50%);
        border-radius: 0px;
    }

    .container::before {
        background: linear-gradient(to bottom, #0a0a0a 50%, transparent);
    }
}