@font-face {
    font-family: FLC-Flix;
    src: url(font/FoundationLogo.ttf);
}
@font-face {
    font-family: Era;
    src: url(font/Elounda-Regular.ttf);
}

@font-face {
    font-family: netflix;
    src: url(font/BebasNeue-Regular.ttf);
}

::-webkit-scrollbar {
    background-color: #634804;
}

::-webkit-scrollbar-thumb{
    background-color: #c09600;
    border-radius: 5px;
    
}
::-webkit-scrollbar {
    width: 10px;
}

*{
    text-decoration: none;
}

body{
    background-color: #634804;
    margin: 0;
}

header{
    background-color: #1e1e1e;
    padding: 5px;
    padding-left: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

footer{
    background-color: #1e1e1e;
    padding: 10px;
    color: #fff;
    font-family: netflix;
    display: flex;
    justify-content: space-around;
}

.nav-bar{
    padding: 10px;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 1000;
}

.nav-bar img{
    width: 60px;
    height: auto;
    margin: 5px;
}

.top-section{
    background: linear-gradient(to bottom, #1e1e1e, #0711cd, #0711cd, #634804);
    padding: 20px;
    text-align: center;
}

.top-section img{
    width: 40%;
    height: auto;
}

.top-section p{
    color: #fff;
    font-family: netflix;
    font-size: 3em;
    background-color: #00000070;
    border-radius: 10px;
}

.top-section .flcflix{
    font-family: FLC-Flix;
    font-weight: 1;
    background: linear-gradient(to right, #cf0000, #0000ae);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-section .era{
    font-family: Era;
    font-weight: 1;
    background: linear-gradient(to right, #674f00, #c09600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.media-section{
    background-color: #392901;
    padding: 5px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

.media-section .era{
    font-family: Era;
    font-weight: 1;
}

.media-section img{
    transition: all 0.5s ease;
    cursor: pointer;
}

.media-section img:hover{
    opacity: 50%;
}

.media-section .first-media{
    border-radius: 20px 0px 0px 20px;
}

.media-section .last-media{
    border-radius: 0px 20px 20px 0px;
}

.media-section a{
    color: #fff;
    text-decoration: underline;
    transition: all 0.7s ease;
}

.media-section a:hover{
    color: #c09600;
}

.media-section2{
    background-color: #231900;
    padding: 5px;
    padding-left: 20px;
    border-radius: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1em;
}

.websites{
    display: flex;
    justify-content: center;
    bottom: 0;
}

.selection{
    text-align: center;
    font-family: netflix;
    color: #fff;
}

.selection a{
    margin: 10px;
    text-decoration: underline;
    font-size: 2em;
    cursor: pointer;
    transition: 0.7s ease;
}

.selection a:hover{
    color: #1e1e1e;
}

.watch-btn {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}
  
.watch-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.watch-btn:hover::before {
    scale: 3;
}
  
.watch-btn:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}
  
.watch-btn:active {
    scale: 1;
}

.principalpage{
    padding: 10px;
}

.principalpage h1{
    font-family: Era;
    font-size: 2em;
    font-weight: 1;
    color: #fff;
}

#favorite-list img{
    width: 170px;
    height: 250px;
    border-radius: 20px;
}

#favorite-list button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}
  
#favorite-list .svgIcon {
    width: 12px;
    transition-duration: .3s;
}
  
#favorite-list .svgIcon path {
    fill: white;
}
  
#favorite-list button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}
  
#favorite-list button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}
  
#favorite-list button::before {
    position: absolute;
    top: -20px;
    content: "Retirer";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}
  
#favorite-list button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

@media screen and (max-width : 768px) {
    .nav-bar{
        width: 400px;
    }
    .nav-bar img{
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width : 426px) {
    header{
        font-size: 1em;
    }
    .top-section img{
        width: 80%;
        height: auto;
    }
    .top-section p{
        color: #fff;
        font-family: netflix;
        font-size: 1.5em;
    }
    .media-section{
        font-size: 1em;
    }
    .nav-bar{
        width: 320px;
    }
    .nav-bar img{
        width: 30px;
        height: auto;
    }
    .media-section img{
        border-radius: 10px;
        width: 100px;
        height: 150px;
    }
    .media-section .first-media{
        border-radius: 10px;
    }
    .media-section .last-media{
        border-radius: 10px;
    }
}

@media screen and (max-width : 320px) {
    header{
        font-size: 0.8em;
    }
    .media-section img{
        border-radius: 10px;
        width: 80px;
        height: 120px;
    }
    .nav-bar{
        border-radius: 10px;
        width: 250px;
    }
    .nav-bar img{
        width: 20px;
        height: auto;
    }
}