@font-face {
    font-family: FLC-Flix;
    src: url(font/NORA.ttf);
}
@font-face {
    font-family: Era;
    src: url(font/Black\ Future.otf);
}

@font-face {
    font-family: netflix;
    src: url(font/Black\ Future.otf);
}

::-webkit-scrollbar {
    background-color: #634804;
}

::-webkit-scrollbar-thumb{
    background-color: #c09600;
    border-radius: 5px;
    
}
::-webkit-scrollbar {
    width: 10px;
}

*{
    text-decoration: none;
}

body{
    background-color: #0a0a0a;
    margin: 0;
}

header{
    background-color: #0a0a0a;
    padding: 5px;
    padding-left: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

footer{
    background-color: #1e1e1e;
    padding: 10px;
    color: #fff;
    font-family: netflix;
    display: flex;
    justify-content: space-around;
}

.nav-bar{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    position: fixed;
    right: 0;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 1000;
}

.nav-bar img{
    width: 60px;
    height: auto;
    margin: 5px;
}

.top-section .flcflix{
    font-family: FLC-Flix;
    font-weight: 1;
    background: linear-gradient(to right, #cf0000, #0000ae);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-section .era{
    font-family: Era;
    font-weight: 1;
    background: linear-gradient(to right, #674f00, #c09600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.principalpage{
    background: linear-gradient(to bottom, #0a0a0a 10%, #0f3f4c, #2b004c);
}

.media-section{
    background-color: #0f3f4c;
    padding: 5px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

.media-section .era{
    font-family: Era;
}

.media-section img{
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}

.media-section img:hover{
    opacity: 50%;
    border-radius: 20px;
}

.media-section .first-media{
    border-radius: 20px 0px 0px 20px;
}

.media-section .last-media{
    border-radius: 0px 20px 20px 0px;
}

.media-section a{
    color: #fff;
    text-decoration: underline;
    transition: all 0.7s ease;
}

.media-section a:hover{
    color: #c09600;
}

.websites{
    display: flex;
    justify-content: center;
    bottom: 0;
}

@media screen and (max-width : 768px) {
    .nav-bar img{
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width : 426px) {
    header{
        font-size: 1em;
    }
    .top-section img{
        width: 80%;
        height: auto;
    }
    .top-section p{
        color: #fff;
        font-family: netflix;
        font-size: 1.5em;
    }
    .media-section{
        font-size: 1em;
    }
    .nav-bar img{
        width: 30px;
        height: auto;
    }
    .media-section img{
        border-radius: 10px;
        width: 100px;
        height: 150px;
    }
    .media-section .first-media{
        border-radius: 10px;
    }
    .media-section .last-media{
        border-radius: 10px;
    }
}

@media screen and (max-width : 320px) {
    header{
        font-size: 0.8em;
    }
    .media-section img{
        border-radius: 10px;
        width: 80px;
        height: 120px;
    }
    .nav-bar{
        border-radius: 10px;
    }
    .nav-bar img{
        width: 20px;
        height: auto;
    }
}