.movie {
    display: none;
}

.movie.visible {
    display: block;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: false;
}

.movie iframe {
    width: 800px;
    height: 500px;
    border: 5px solid transparent;
    border-radius: 15px;

    --angle: 45deg;

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(var(--angle), #33ccff, #9900ff) border-box;

    animation: rotateBorder 6s linear infinite;
}

@keyframes rotateBorder {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.night {
    color: #fff;
    font-family: Era;
    text-align: center;
    font-size: 2em;
}

.night-icon {
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.infos{
    font-family: Arial;
}

@font-face {
    font-family: Lexend;
    src: url(font/Lexend-VariableFont_wght.ttf);
}

.timer-container{
    color: #fff;
    text-align: center;
    font-family: Lexend;
    font-size: 2em;
}

.titles{
    text-align: center;
}

.titles h3{
    font-family: Lexend;
    text-align: center;
}