@font-face {
    font-family: FLC-Flix;
    src: url(font/NORA.ttf);
}
@font-face {
    font-family: Ere2;
    src: url(font/Black\ Future.otf);
}

.popup {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #00041e;
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px #0000004d;
    display: none; /* Masquer par défaut */
}

.popup h2{
    font-family: Ere2;
}

.popup p{
    font-family: Arial;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background: linear-gradient(to bottom right, #0003be, #DB202C);
    color: #fff;
    padding: 20px;
    border: 3px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none; /* Masquer par défaut */
}

.popup button {
    height: 30px;
    background-color: #1c83e4;
    border: 2px solid #6b6eb8;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #fff;
}
  
.popup button:hover {
    background-color: #1c29e4;
    border: 2px solid #956bb8;
}

.popup2 button{
    width: 100px;
    height: 30px;
    background-color: #00a733;
    border: 2px solid #003d12;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: border-radius 0.7s ease;
}

.popup2 button:hover{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.popup .popup-button{
    width: 200px;
    height: 30px;
    background-color: #0003be;
    border: 2px solid #000231;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: border-radius 0.7s ease;
}

.popup .popup-button:hover{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.popup2 .popup-button2{
    width: 200px;
    height: 30px;
    background-color: #0003be;
    border: 2px solid #000231;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: border-radius 0.7s ease;
}

.popup2 .popup-button2:hover{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#showThirdPopupButton{
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    text-decoration: underline;
}

.show-popup-button-pc {
    right: 0px;
}

@media screen and (max-width : 768px) {
    .popup {
        position: fixed;
        transform: translate(-50%, -50%);
        width: 650px;
        height: auto;
        background-color: #1e1e1e;
        color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        display: none; /* Masquer par défaut */
    }
}

@media screen and (max-width : 465px) {
    .popup {
        z-index: 1001;
        position: fixed;
        transform: translate(-50%, -50%);
        width: 330px;
        height: auto;
        background-color: #1e1e1e;
        color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        display: none; /* Masquer par défaut */
    }
    .popup h2{
        font-size: 1.5em;
    }
    .popup p{
        font-size: 0.9em;
    }
}

@media screen and (max-width : 320px) {
    .popup {
        z-index: 1001;
        position: fixed;
        transform: translate(-50%, -50%);
        width: 250px;
        height: auto;
        background-color: #1e1e1e;
        color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        display: none; /* Masquer par défaut */
    }
    .popup h2{
        font-size: 1.2em;
    }
    .popup p{
        font-size: 0.8em;
    }
}