@font-face {
    font-family: FLC-Flix;
    src: url(font/FoundationLogo.ttf);
}
@font-face {
    font-family: Era;
    src: url(font/Elounda-Regular.ttf);
}

@font-face {
    font-family: netflix;
    src: url(font/BebasNeue-Regular.ttf);
}

::-webkit-scrollbar {
    background-color: #634804;
}

::-webkit-scrollbar-thumb{
    background-color: #c09600;
    border-radius: 5px;
    
}
::-webkit-scrollbar {
    width: 10px;
}

*{
    text-decoration: none;
}

body{
    background-color: #0a0a0a;
    margin: 0;
}

header{
    background-color: #0a0a0a;
    padding: 5px;
    padding-left: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

footer{
    background-color: #1e1e1e;
    padding: 10px;
    color: #fff;
    font-family: netflix;
    display: flex;
    justify-content: space-around;
}

.nav-bar{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    position: fixed;
    right: 0;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 1000;
}

.nav-bar img{
    width: 60px;
    height: auto;
    margin: 5px;
}

.top-section{
    text-align: right;
}

.top-section img{
    width: 60%;
    height: auto;
}

.top-section p{
    color: #fff;
    font-family: netflix;
    font-size: 3em;
    background-color: #0a0a0a70;
    border-radius: 10px;
}

.top-section .flcflix{
    font-family: FLC-Flix;
    font-weight: 1;
    background: linear-gradient(to right, #cf0000, #0000ae);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-section .era{
    font-family: Era;
    font-weight: 1;
    background: linear-gradient(to right, #674f00, #c09600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.media-section{
    text-align: center;
    background: linear-gradient(to bottom right, #0f3f4c, #2b004c);
    padding: 5px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

.media-section .seasons-title{
    width: 500px;
}

.media-section img{
    transition: all 0.5s ease;
    cursor: pointer;
}

.media-section .media{
    border-radius: 15px;
    transition: 0.5s ease;
}

.media-section .media:hover{
    opacity: 50%;
}

.websites{
    display: flex;
    justify-content: center;
    bottom: 0;
}

.img-serie{
    border-radius: 20px;
    margin: 0 auto;
}

.serie-container{
    font-family: netflix;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.serie-text{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.txt-series{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000000b3;
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: netflix;
    font-size: 1em;
}

.serie-text:hover .txt-series{
    opacity: 1;
}

@media screen and (max-width : 768px) {
    .nav-bar img{
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width : 426px) {
    header{
        font-size: 1em;
    }
    .top-section img{
        width: 80%;
        height: auto;
    }
    .top-section p{
        color: #fff;
        font-family: netflix;
        font-size: 1.5em;
    }
    .media-section{
        font-size: 1em;
    }
    .nav-bar img{
        width: 30px;
        height: auto;
    }
    .media-section img{
        border-radius: 10px;
        width: 100px;
        height: 150px;
    }
    .media-section .first-media{
        border-radius: 10px;
    }
    .media-section .last-media{
        border-radius: 10px;
    }
    .media-section .seasons-title{
        width: 300px;
        border-radius: 0px;
        height: auto;
    }
}

@media screen and (max-width : 376px) {
    .media-section .seasons-title{
        width: 250px;
        border-radius: 0px;
        height: auto;
    }
}

@media screen and (max-width : 320px) {
    header{
        font-size: 0.8em;
    }
    .media-section img{
        border-radius: 10px;
        width: 80px;
        height: 120px;
    }
    .nav-bar{
        border-radius: 10px;
    }
    .nav-bar img{
        width: 20px;
        height: auto;
    }
    .media-section .seasons-title{
        width: 200px;
        border-radius: 0px;
        height: auto;
    }
}