@font-face {
    font-family: FLC-Flix;
    src: url(font/FoundationLogo.ttf);
}
@font-face {
    font-family: Era;
    src: url(font/Elounda-Regular.ttf);
}

@font-face {
    font-family: netflix;
    src: url(font/BebasNeue-Regular.ttf);
}

::-webkit-scrollbar {
    background-color: #634804;
}

::-webkit-scrollbar-thumb{
    background-color: #c09600;
    border-radius: 5px;
    
}
::-webkit-scrollbar {
    width: 10px;
}

*{
    text-decoration: none;
}

body{
    background-color: #634804;
    margin: 0;
}

header{
    background-color: #1e1e1e;
    padding: 5px;
    padding-left: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

footer{
    background-color: #1e1e1e;
    padding: 10px;
    color: #fff;
    font-family: netflix;
    display: flex;
    justify-content: space-around;
}

.nav-bar{
    padding: 10px;
    background-color: #fff;
    border: 3px solid #1e1e1e;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    position: fixed;
    right: 0;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 1000;
}

.nav-bar img{
    width: 60px;
    height: auto;
    margin: 5px;
}

.top-section{
    background: linear-gradient(to bottom, #1e1e1e, #0711cd, #0711cd, #634804);
    padding: 20px;
    text-align: center;
}

.top-section img{
    width: 40%;
    height: auto;
}

.top-section p{
    color: #fff;
    font-family: netflix;
    font-size: 3em;
    background-color: #00000070;
    border-radius: 10px;
}

.top-section .flcflix{
    font-family: FLC-Flix;
    font-weight: 1;
    background: linear-gradient(to right, #cf0000, #0000ae);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-section .era{
    font-family: Era;
    font-weight: 1;
    background: linear-gradient(to right, #674f00, #c09600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.media-section{
    background-color: #392901;
    padding: 5px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    font-family: netflix;
    font-size: 1.5em;
}

.media-section .era{
    font-family: Era;
}

.media-section a{
    transition: all 0.5s ease;
    cursor: pointer;
}

.media-section a:hover{
    opacity: 50%;
}

.media-section .first-media{
    border-radius: 20px 0px 0px 20px;
}

.media-section .last-media{
    border-radius: 0px 20px 20px 0px;
}

.websites{
    display: flex;
    justify-content: center;
    bottom: 0;
}

@media screen and (max-width : 768px) {
    .nav-bar img{
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width : 426px) {
    header{
        font-size: 1em;
    }
    .top-section img{
        width: 80%;
        height: auto;
    }
    .top-section p{
        color: #fff;
        font-family: netflix;
        font-size: 1.5em;
    }
    .media-section{
        font-size: 1em;
    }
    .nav-bar img{
        width: 30px;
        height: auto;
    }
    .media-section img{
        border-radius: 10px;
        width: 100px;
        height: auto;
    }
}

@media screen and (max-width : 320px) {
    header{
        font-size: 0.8em;
    }
    .media-section img{
        border-radius: 10px;
        width: 80px;
        height: auto;
    }
    .nav-bar{
        border-radius: 10px;
    }
    .nav-bar img{
        width: 20px;
        height: auto;
    }
}