.slideshow-container {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slideshow-container h1{
    text-align: center;
    font-family: Era;
    font-weight: 1;
    color: #fff;
    font-size: 3em;
}

.slide {
    display: none;
    position: relative;
    animation: slideIn 1s ease-in-out forwards;
}

.slide2 {
    display: none;
    position: relative;
    animation: slideIn 1s ease-in-out forwards;
}

.background-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.affiche {
    width: 200px;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 1px #000000;
}

.title {
    font-size: 2em;
    margin: 10px 0;
}

.text {
    font-size: 1.2em;
}

.fade {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    from {opacity: .4}
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;  /* Assure que les flèches sont au-dessus des autres éléments */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#news-series, #news-docs{
    display: none;
}

@media screen and (max-width : 320px){
    .slideshow-container h1{
        font-size: 2em;
    }
}