.timer {
  font-size: 15px;
  font-family: Era;
  color: #fff;
  position: fixed;
  z-index: 100;
  background-color: #000000;
  right: 0px;
  padding: 10px;
  border-radius: 0px 0px 0px 10px;
}
  
.timer span {
  margin: 0 5px;
}

.timer-txt {
  color: #ffffff;
  font-family: Era;
  text-align: center;
}

.timer-img{
  text-align: center;
  background-color: #000231;
}

@media screen and (max-width : 768px){
  .timer {
    display: none;
  }
  .next-version-logo{
    width: 250px;
    height: auto;
  }
}