.container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.background {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #0a0a0a 50%, transparent);
    z-index: 1;
}

.background,
.logo-container {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    pointer-events: none;
}

.background.active,
.logo-container.active {
    opacity: 1;
    pointer-events: auto;
}
