.container {
    position: relative;
    width: 100%;
    height: 700px; /* Vous pouvez ajuster la hauteur */
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    object-position: right;
    z-index: 0;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo-container h1{
    color: #fff;
    font-family: Era;
    font-weight: 1;
    font-size: 5em;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0a0a0a 75%, transparent);
    z-index: 1;
}

@media (max-width: 768px) {
    .container {
        height: 600px;
    }
    .logo-container {
        width: 100px;
        left: 15%;
    }
    .background-image{
        display: none;
    }
}

@media (max-width: 426px) {
    .container {
        height: 200px;
        width: 100%;
        text-align: right;
        border-radius: 0px;
    }
    .background-image {
        display: none;
    }
    .logo-container {
        width: 300px;
        right: 10%;
    }
    .logo-container img{
        margin-left: 60%;
    }
    .logo-container h1{
        font-size: 3em;
        margin-left: 60%;
    }
    .container::before {
        background: linear-gradient(to right, #0a0a0a 40%, transparent);
    }
}

@media (max-width: 376px) {
    .container {
        height: 200px;
    }
    .background-image {
        display: none;
    }
    .logo-container {
        width: 300px;
        right: 10%;
    }
    .logo-container img{
        margin-left: 55%;
    }
    .logo-container h1{
        font-size: 3em;
        margin-left: 55%;
    }
    .container::before {
        background: linear-gradient(to bottom, #0a0a0a 30%, transparent);
    }
}

@media (max-width: 320px) {
    .container {
        height: 200px;
    }
    .background-image {
        display: none;
    }
    .logo-container {
        width: 300px;
        right: 10%;
    }
    .logo-container img{
        margin-left: 50%;
    }
    .logo-container h1{
        font-size: 2em;
        margin-left: 50%;
    }
    .container::before {
        background: linear-gradient(to bottom, #0a0a0a 50%, transparent);
    }
}