.season2, .season3, .season4, .season5, .season6, .season7, .season8, .season9, .season10, .season11, .season12{
    display: none;
}

#hero-section .season-choose a{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s ease;
}

#hero-section .season-choose a:hover{
    color: #674f00;
}